<%- include("header"); -%>
  <div class = "box" id = "heading">
    <h1> <%= listTitle %> </h1>
  </div>

  <div class = "box">
    <% for(var i = 0; i < newItems.length; i++){ %>
      <input type="checkbox">
      <p class = "item"> <%= newItems[i] %> </p>
    <% } %>
    <form action="/" method="post">
      <input type="text" name="newItem" placeholder = "new item" autocomplete="off">
      <button type="submit" name="list" value = <%= listTitle %> > + </button>
    </form>
  </div>
<%- include("footer"); -%>
